* {
    margin: o;
    padding: o;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
}

.wrapper {
    width: 800px;
   
    margin: 0 auto;
    border-left: 10px solid #e64751;
    font-family: 'Poppins', sans-serif;
    padding: 50px;
    background-color: white;
   
}

.table {
    width: 100%;
}



.thead-td {
    text-align: left;
    padding-right: 50px;
}

.thead-th {
    text-align: right;
}


.heading {

    vertical-align: top;
    text-align: right;
    padding-right: 50px;
   
}
thead h1,h5{
    padding-right: 50px;
}
th {
    width: 50%;
}

h1,
h4 {
    color: #e64751;
    text-transform: uppercase;
}

.profession {
    text-transform: uppercase;
}

.sign {
    color: #e64751;
}

p,
h5,tr {
    text-transform: capitalize;
}